{layout name='public/layout.html'}
<h3 class="sub-header">管理中心</h3>
{php $count=db('guestbook')->where('status',0)->count()}
<div class="well">欢迎光临，<code>{:session('user.nickname')}</code> 待审留言：<code>{$count}</code></div>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        {foreach $info as $k=>$v}
        <tr>
            <td>{$k}</td>
            <td>{$v}</td>
        </tr>
        {/foreach}
        <tr>
            <td>框架版本</td>
            <td>__POWERED__ [ <a href="http://www.113344.com" target="_blank">查看最新版本</a> ]</td>
        </tr>
        </tbody>
    </table>
</div>