<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台登录</title>
    <link rel="stylesheet" href="__STATIC__/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/login.css">
</head>
<body>
<div class="container">
    <form class="form-signin submit-ajax" role="form" action="{:url('login')}" method="post">
        <h3 class="form-signin-heading">后台管理<small class="pull-right"><a href="__ROOT__/index.php">首页</a></small></h3>
        <input type="text" name="username" class="form-control" placeholder="用户名" value="{:input('get.from')}" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="密   码" required>
        <div class="row">
            <div class="col-xs-6"><input type="text" name="captcha" class="form-control" placeholder="验证码" required></div>
            <div class="col-xs-6"><img src="{:url('captcha')}" class="captcha-image" style="cursor:pointer;" onclick="this.src='{:url('captcha')}?'+Math.random();" alt="captcha"/></div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">登 录</button>
    </form>
</div>

<script src="__STATIC__/js/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/js/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/layer_mobile/layer.js"></script>
<script src="__STATIC__/js/willphp-1.1.js"></script>
</body>
</html>