{include file='public/header.html'}
<style>
	.form-group {margin:0;}
</style>
<h4 class="page-title">管理中心<small class="pull-right"><a href="javascript:history.back(-1);">返回</a></small></h4>
<div class="page-content" style="border-bottom: 1px solid #ddd;">
	<div class="row">
		<div class="col-md-3">
			<div style="text-align:center;margin-top:5px;">
				{if empty($vo['qq']):}
				<img src="__STATIC__/img/head.png" width="80" height="80" class="img-circle" alt="avatar"/>
				{else:}
				<img src="http://q1.qlogo.cn/g?b=qq&nk={$vo.qq}&s=100&t={:time()}" title="QQ{$vo.qq}"  width="80" height="80" class="img-circle" alt="avatar"/>
				{/if}
				<p style="margin-top:15px;"><strong>{$vo.nickname}</strong></p>
				<p>{:date('Y-m-d', $vo['create_time'])}</p>
			</div>
		</div>
		<div class="col-md-9">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">用户</label>
					<div class="col-sm-10">
						<p class="form-control-static">{$vo.username}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">简介</label>
					<div class="col-sm-10">
						<p class="form-control-static">{$vo.about|none}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">QQ</label>
					<div class="col-sm-10">
						<p class="form-control-static">{$vo.qq|none}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">邮箱</label>
					<div class="col-sm-10">
						<p class="form-control-static">{$vo.email|none}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">手机</label>
					<div class="col-sm-10">
						<p class="form-control-static">{$vo.mobile|none}</p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /row -->

</div>

<h4 class="page-title">我的留言 ({$list->getAttr('count')})</h4>
<table class="table table-striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>标题</th>
		<th>回复</th>
		<th>时间</th>
		<th>状态</th>
		<th width="80">操作</th>
	</tr>
	</thead>
	<tbody>
	{foreach $list as $v}
	<tr>
		<td>{$v.id}</td>
		<td><a href="{:url('index/view',['id'=>$v['id']])}">{$v.title}</a></td>
		<td>{if $v['re_uid']>0:}<span class="label label-primary">已回复</span>{else:}<span class="label label-default">未回复</span>{/if}</td>
		<td>{:date('Y-m-d H:i:s', $v['create_time'])}</td>
		<td>{if $v['status']==1:}<span class="label label-success">已审</span>{else:}<span class="label label-default">待审</span>{/if}</td>
		<td>
			<a href="javascript:ajaxConfirm('{:url('profile/del_msg',['id'=>$v['id']])}','删除',2);" class="btn btn-xs btn-danger">删除</a>
		</td>
	</tr>
	{/foreach}
	</tbody>
</table>
{empty $list->toArray():}
<div class="msg-empty">暂无留言！</div>
{/empty}
{$list->links()}

{include file='public/footer.html'}
</body>
</html>