{include file='public/header.html'}

<div class="top-header">
    <div class="container">
        <h2 class="top-title">个人信息</h2>
        <p class="lead top-description">Profile</p>
    </div>
</div>

<div class="container mtn">

    <div class="panel panel-default">
        <div class="panel-heading">
            个人信息<span class="pull-right"><a href="javascript:history.back(-1);">返回</a></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div style="text-align:center;margin-top:5px;">
                        {if empty($vo['qq']):}
                        <img src="__STATIC__/img/avatar.png" width="80" height="80" class="img-circle" alt="avatar"/>
                        {else:}
                        <img src="http://q1.qlogo.cn/g?b=qq&nk={$vo.qq}&s=100&t={:time()}" title="QQ{$vo.qq}"  width="80" height="80" class="img-circle" alt="avatar"/>
                        {/if}
                        <p style="margin-top:15px;"><strong>{$vo.nickname}</strong></p>
                        <p>{:date('Y-m-d', $vo['create_time'])} 注册</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{$vo.username}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">格言</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{$vo.bio|default='暂无'}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">QQ</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{$vo.qq|default='暂无'}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{$vo.email|default='暂无'}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{$vo.mobile|default='暂无'}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            我的留言
        </div>
        <div class="panel-body">
            在这里可以删除自己的留言！
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>回复</th>
                <th>时间</th>
                <th>状态</th>
                <th width="80">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $v}
            <tr>
                <td>{$v.id}</td>
                <td><a href="{:url('guestbook/view',['id'=>$v['id']])}">{$v.title}</a></td>
                <td>{if $v['reply_uid']>0:}<span class="label label-primary">已回复</span>{else:}<span class="label label-default">未回复</span>{/if}</td>
                <td>{:date('Y-m-d H:i:s', $v['create_time'])}</td>
                <td>{if $v['status']==1:}<span class="label label-success">已审</span>{else:}<span class="label label-default">待审</span>{/if}</td>
                <td>
                    <a href="javascript:ajaxConfirm('{:url('profile/del_msg',['id'=>$v['id']])}','删除',2);" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="panel-footer">{empty $list->toArray():}暂无记录！{/empty}{$list->pageLink()}</div>
    </div>

</div>

{include file='public/footer.html'}
