<div class="container mtn">
    <ul class="nav-list clearfix">
        <li{:nav_active('cp_index')}><a href="{:url('cp_index/index')}"><i class="menu-icon glyphicon glyphicon-home"></i>管理中心</a></li>
        <li{:nav_active('cp_guestbook')}><a href="{:url('cp_guestbook/index')}"><i class="menu-icon glyphicon glyphicon-tags"></i>留言管理</a></li>
        <li{:nav_active('cp_user')}><a href="{:url('cp_user/index')}"><i class="menu-icon glyphicon glyphicon-user"></i>用户管理</a></li>
        <li{:nav_active('cp_single')}><a href="{:url('cp_single/index')}"><i class="menu-icon glyphicon glyphicon-file"></i>单页管理</a></li>
        <li{:nav_active('cp_config')}><a href="{:url('cp_config/index')}"><i class="menu-icon glyphicon glyphicon-cog"></i>系统配置</a></li>
    </ul>
</div>