  <footer class="clearfix">
    <p><span class="pull-left">&copy;{:date('Y')} <a href="http://www.113344.com" target="__blank">113344.com</a> | <a href="__ROOT__/admin.php" target="__blank">后台</a></span> <span class="pull-right">Powered by <a href="http://www.113344.com" target="__blank" class="text-primary">__POWERED__</a></span></p>
  </footer>
</div>

<script src="__STATIC__/js/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/js/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/layer_mobile/layer.js"></script>
<script src="__STATIC__/js/willphp-1.1.js?v={:site_ver()}"></script>