<div class="container">
    <footer class="clearfix">
        <span class="pull-left">
            &copy;2024 <a href="https://www.aphp.top" target="__blank">aphp.top</a>
        </span>
        <span class="pull-right">
            Powered by <a href="https://www.aphp.top" target="__blank">__POWERED__</a>
        </span>
    </footer>
</div>
<script src="__STATIC__/js/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/js/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/layer_mobile/layer.js"></script>
<script src="__STATIC__/js/willphp-1.1.js"></script>
</body>
</html>