<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{:site('site_title')}</title>
    <meta name="keywords" content="{:site('site_kw')}"/>
    <meta name="description" content="{:site('site_desc')}"/>
    <link rel="stylesheet" href="__STATIC__/js/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/style.css?v={:site_ver()}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header ">
            <a href="{:url('index/index')}" class="navbar-brand"><img src="__STATIC__/img/logo.png" height="35" alt="{:site('site_logo')}"/></a>
            <button class="navbar-toggle collapsed" data-toggle='collapse' data-target='.collapse'>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{:url('index/index')}">首页</a></li>
                <li><a href="{:url('user/index')}">用户</a></li>
                <li><a href="{:url('index/single',['sign'=>'about'])}">关于</a></li>
                <li><a href="{:url('index/about')}">捐赠</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {if !session('user.id'):}
                <li><a href="{:url('login/login')}">登录</a></li>
                {else:}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
                        {:session('user.nickname')}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {if session('user.level')>2:}
                        <li><a href="{:url('cp_index/index')}">后台</a></li>
                        {/if}
                        <li><a href="{:url('profile/index')}">管理</a></li>
                        <li><a href="{:url('profile/edit')}">资料</a></li>
                        <li><a href="{:url('profile/password')}">改密</a></li>
                        <li><a href="javascript:ajaxConfirm('{:url('login/logout')}','退出')">退出</a></li>
                    </ul>
                </li>
                {/if}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
                        主题：{:get_theme(1)}
                        <span class="caret"></span>
                    </a>
                    {php $theme=get_theme()}
                    <ul class="dropdown-menu">
                        {foreach $theme as $t=>$n}
                        <li><a href="?t={$t}">{$n}</a></li>
                        {/foreach}
                    </ul>
                </li>
                <li><a class="nav-link" href="https://qm.qq.com/cgi-bin/qm/qr?k=U7SzseDDXSbG9sB1CTEf5U10oFJOKR8-&jump_from=webapi" target="_blank">QQ群</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="clearfix" style="height:51px;"></div>