{layout name='public/layout.html'}
<h3 class="sub-header">留言回复 <small class="pull-right"><a href="{:url('index')}">返回列表</a></small></h3>
<form class="form-horizontal submit-ajax" role="form" action="{:url('replay')}" method="post">
    <input type="hidden" name="id" value="{$vo.id}" />
    <div class="form-group">
        <label class="col-sm-1 control-label">昵称</label>
        <div class="col-sm-11">
            <p class="form-control-static">{$vo.name}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">QQ</label>
        <div class="col-sm-11">
            <p class="form-control-static">{$vo.qq|default='无'}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">时间</label>
        <div class="col-sm-11">
            <p class="form-control-static">{:date('Y-m-d H:i',$vo['create_time'])}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">标题</label>
        <div class="col-sm-11">
            <p class="form-control-static">{$vo.title}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">留言</label>
        <div class="col-sm-11">
            <p class="form-control-static">{$vo.msg}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">回复</label>
        <div class="col-sm-11">
            <textarea name="re_msg" rows="2" class="form-control" placeholder="请输入回复内容">{$vo.re_msg}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">&nbsp;</label>
        <div class="col-sm-11">
            <input type="submit" id="submit" value="回复" class="btn btn-primary" />
        </div>
    </div>
</form>