{layout name='public/layout.html'}
<h3 class="sub-header">修改密码</h3>
<form class="form-horizontal submit-ajax" role="form" action="{:url('profile/pwd')}" method="post">
    <div class="form-group">
        <label class="col-sm-1 control-label">旧的密码</label>
        <div class="col-sm-11">
            <input type="password" name="old_pwd" class="form-control" style="width:auto;" placeholder="请输入旧密码" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">新的密码</label>
        <div class="col-sm-11">
            <input type="password" name="new_pwd" class="form-control" style="width:auto;" placeholder="请输入新密码" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">确认密码</label>
        <div class="col-sm-11">
            <input type="password" name="re_pwd" class="form-control" style="width:auto;" placeholder="请确认新密码" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">&nbsp;</label>
        <div class="col-sm-11">
            <input type="submit" value="修改" class="btn btn-primary" />
        </div>
    </div>
</form>