{layout name='public/layout.html'}
<h3 class="sub-header">添加单页 <small class="pull-right"><a href="{:url('index')}">返回列表</a></small></h3>
<form class="form-horizontal submit-ajax" role="form" action="{:url('add')}" method="post">
    <div class="form-group">
        <label class="col-sm-1 control-label">名称</label>
        <div class="col-sm-11">
            <input type="text" name="name" class="form-control" placeholder="请输入页面名称" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">标识</label>
        <div class="col-sm-11">
            <input type="text" name="pageid" class="form-control" placeholder="请输入页面标识" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">封面</label>
        <div class="col-sm-11">
            <input type="hidden" id="thumb" name="thumb" value="" />
            <div id="pic_up" class="thumb">
                <img style="display:none" id="pic" width="90" height="60"  alt="thumb"/>上传封面
                <span id="pic_del">删除</span>
                <input id="upload-input" type="file" accept="image/*" onchange="previewImg(this);">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">标题</label>
        <div class="col-sm-11">
            <input type="text" name="title" class="form-control" placeholder="请输入页面标题" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">内容</label>
        <div class="col-sm-11">
            <textarea id="editor" name="content" style="display: none;"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label">&nbsp;</label>
        <div class="col-sm-11">
            <input type="submit" id="submit" value="添加" class="btn btn-primary" />
        </div>
    </div>
</form>