<script src="__STATIC__/js/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/js/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/layer_mobile/layer.js"></script>
<script src="__STATIC__/js/willphp-1.1.js?v={:site_ver()}"></script>
<script src="__STATIC__/js/HandyEditor/HandyEditor.min.js"></script>
<script src="__STATIC__/js/hdeditor.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
            $('.row-offcanvas').toggleClass('active')
        });
    });
    function previewImg(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (im) {
                var apiurl = "{:url('api/upload_base64')}";
                var type = 'single';
                $.post(apiurl, {base64: im.target.result, type: type}, function (res) {
                    if (res.status == 1) {
                        pic_del($("#pic"));
                        $('#thumb').val(res.data.path);
                        $("#pic").attr("src", res.data.path).show();
                        $('#pic_del').show();
                    }
                }, 'json');
            };
            reader.readAsDataURL(input.files[0]);
            return 1;
        }
    }
    function pic_del(e) {
        var p = e.attr('src');
        $('#thumb').val('');
        $.post("{:url('api/image_del')}", {pic: p}, function (ret) {
        }, 'json');
    }
    $('#pic_del').on('click', function () {
        pic_del($("#pic"));
        $("#pic").attr("src", '').hide();
        $('#pic_del').hide();
    });
</script>
</body>
</html>