{include file='public/header.html'}
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar">
            {include file='public/sidebar.html'}
        </div>
        <div class="col-xs-12 col-sm-9">
            <div style="padding: 5px 0;">
                <button type="button" class="btn btn-xs btn-success pull-left visible-xs" data-toggle="offcanvas">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
            </div>
            {__CONTENT__}
        </div>
    </div>
</div>
{include file='public/footer.html'}