{include 'public/header.html'}

<h4 class="page-title">用户登录<small class="pull-right"><a href="javascript:history.back(-1);">返回</a></small></h4>
<div class="page-content">
  <form class="form-horizontal submit-ajax" role="form" action="{:url('login/login')}" method="post">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">用户名</label>
      <div class="col-sm-10">
        <input type="text" id="username" name="username" class="form-control" style="width:auto;" placeholder="请输入用户名" value="{:input('get.from')}" />
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
      <div class="col-sm-10">
        <input type="password" id="password" name="password" class="form-control" style="width:auto;" placeholder="请输入密码" value="" />
      </div>
    </div>
    <div class="form-group">
      <label for="captcha" class="col-sm-2 control-label">验证码</label>
      <div class="col-sm-10">
        <input type="text" id="captcha" name="captcha"  class="form-control" style="width:auto;display: inline-block;" placeholder="请输入验证码" />
        <img src="{:url('login/captcha')}" style="cursor:pointer;" onclick="this.src='{:url('login/captcha')}?'+Math.random();" alt="captcha"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">&nbsp;</label>
      <div class="col-sm-10">
        <input type="submit" value="登录" class="btn btn-primary" />
        <a href="{:url('login/reg')}">注册</a>
      </div>
    </div>
  </form>
</div>

{include 'public/footer.html'}
</body>
</html>