{include file='public/header.html'}

<div class="top-header">
    <div class="container">
        <h2 class="top-title">捐赠</h2>
        <p class="lead top-description">Donation</p>
    </div>
</div>

<div class="container mtn">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">关于框架</h3>
        </div>
        <div class="panel-body">
            作者：大松栩(24203741@qq.com)
            QQ群1：<a href="https://qm.qq.com/cgi-bin/qm/qr?k=U7SzseDDXSbG9sB1CTEf5U10oFJOKR8-&jump_from=webapi" target="_blank">325825297</a>
            QQ群2：<a href="https://qm.qq.com/cgi-bin/qm/qr?k=wn2nvV3s1l2odDNgWIDSrZ0w4-ZSexUd&jump_from=webapi" target="_blank">16008861</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">捐赠支持</h3>
        </div>
        <div class="panel-body">
            <p>APHP框架离不开您的支持，所有捐赠将用于网站维护和框架开发。</p>
            <p>捐赠地址：<a href="https://gitee.com/willphp/aphp" target="_blank">https://gitee.com/willphp/aphp</a></p>
            <p>或直接扫码：</p>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#pay-wx" data-toggle="tab">微信支付</a></li>
                <li><a href="#pay-ali" data-toggle="tab">支付宝</a></li>
                <li><a href="#pay-qq" data-toggle="tab">QQ支付</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="pay-wx">
                    <img src="__STATIC__/img/qrcode/wx.png" alt="wx"/>
                </div>
                <div class="tab-pane" id="pay-ali">
                    <img src="__STATIC__/img/qrcode/alipaym.png" alt="alipay"/>
                </div>
                <div class="tab-pane" id="pay-qq">
                    <img src="__STATIC__/img/qrcode/qqm.png" alt="qq"/>
                </div>
            </div>
        </div>
    </div>

</div>

{include file='public/footer.html'}