{include file='public/header.html'}

<div class="jumbotron text-center">
    <div style="position: absolute;top: 15%;width: 100%;">
        <h2>一鱼框架 - APHP</h2>
        <p>超轻量级快速MVC框架，网站开发从未如此简单！</p>
        <p>
            <a class="btn btn-success" href="https://doc.aphp.top" target="_blank">开发手册</a>
            <a class="btn btn-info" href="https://gitee.com/willphp/aphp" target="_blank">Gitee下载</a>
            <a class="btn btn-primary" href="https://github.com/willphp/aphp" target="_blank">GitHub下载</a>
        </p>
        <p>
            <img alt="version" src="https://img.shields.io/github/v/release/willphp/aphp"/>
            <img alt="filesize" src="https://img.shields.io/github/languages/code-size/willphp/aphp"/>
            <img alt="update" src="https://img.shields.io/github/release-date/willphp/aphp"/>
        </p>
    </div>
</div>

<div class="aphp-msg container">

    {php $notice=widget('single')->get('notice')}
    <div class="well clearfix">
        {$notice.content}
    </div>

    {php $list=db('guestbook')->where('status', 1)->order('is_top DESC,id DESC')->paginate(6)}
    {php $total=$list->pageAttr('total')}
    {php $offset=$list->pageAttr('offset')}

    <div class="msg-header clearfix">
        <span class="pull-left">
            <a href="#msg_form" class="btn btn-primary">我要留言</a>&nbsp;&nbsp;&nbsp;&nbsp;共有留言 {$total} 条
        </span>
        <span class="pull-right" style="margin-top:5px;">
        {if !session('user.id'):}
          <a href="{:url('login/login')}">登录</a>
        {else:}
          <a href="{:url('profile/index')}">管理</a> | <a href="{:url('profile/edit')}">资料</a> | <a href="{:url('profile/password')}">改密</a> | <a href="javascript:ajaxConfirm('{:url('login/logout')}','退出');">退出</a>
        {/if}
        </span>
    </div>

    <!-- 留言列表 -->
    {foreach $list as $k=>$vo}
    {php $k=$total-$k-$offset}
    <div class="media">
        <div class="media-left media-top">
            {if empty($vo['qq']):}
            <img src="__STATIC__/img/avatar.png" class="media-object" alt="avatar"/>
            {else:}
            <img src="http://q1.qlogo.cn/g?b=qq&nk={$vo.qq}&s=100&t={:time()}" title="QQ{$vo.qq}" class="media-object" alt="avatar"/>
            {/if}
        </div>
        <div class="media-body">
            <div class="media-heading">
                <span class="user">网友：{if $vo['uid']>0:}<a href="{:url('user/info',['id'=>$vo['uid']])}">{$vo.nickname}</a>{else:}{$vo.nickname}{/if}</span> <span class="time">时间：{$vo.create_time|get_time_ago}</span>
                <span class="pull-right">{if $vo['is_top']==1:}<span class="text-danger">[置顶]</span>{/if} #{$k}</span>
            </div>
            <div class="media-content">
                <h5><a href="{:url('guestbook/view',['id'=>$vo['id']])}">{$vo.title}</a></h5>
                <p>{$vo.msg}</p>
                {if !empty($vo['reply_msg']):}
                <div class="reply">&nbsp;&nbsp;<strong><a href="{:url('user/info',['id'=>$vo['reply_uid']])}">{$vo.reply_nickname}</a> 回复</strong>：{$vo.reply_msg}</div>
                {/if}
                {if session('user.level')>1:}
                <div id="reMsg-id{$vo.id}" style="display:none;">
                    <form method="post" class="form-inline submit-ajax" action="{:url('guestbook/reply')}">
                        <input type="hidden" name="id" value="{$vo.id}"/>
                        <div class="form-group">
                            <input type="text" name="reply_msg" class="form-control" placeholder="请输入回复内容..." value="{$vo.reply_msg}"/>
                        </div>
                        <button class="btn btn-primary">回复</button>
                    </form>
                </div>
                {/if}
            </div>
            <div class="media-footer">
                <span class="pull-left address">
                    {$vo.ip|ip_format}
                    {if session('user.level')>1:} |
                    <a href="javascript:;" onclick="$('#reMsg-id{$vo.id}').toggle();" title="回复留言">回复</a> |
                    <a href="javascript:ajaxConfirm('{:url('guestbook/del',['id'=>$vo['id']])}','设为待审',2);">待审</a> |
                    <a href="javascript:ajaxConfirm('{:url('guestbook/top',['id'=>$vo['id']])}','设置置顶',2);">置顶</a>
                    {/if}
                </span>
                <span class="pull-right">
                    <a class="like" href="javascript:ajaxGet('{:url('guestbook/poll',['id'=>$vo['id']])}',2);">赞（{$vo.poll_count}）</a>
                </span>
            </div>
        </div>
    </div>
    {/foreach}

    {empty $list->toArray():}
    <div class="alert alert-info">暂无留言！</div>
    {/empty}
    {$list->pageLink()}

    <!-- 留言表单 -->
    <div class="msg-form mtn" id="msg_form">
        <h1>在线留言<span>{:site('msg_about', '文明上网，理性发言！填写QQ将自动获取QQ头像！')}</span></h1>
        <form class="form-horizontal submit-ajax" method="post" action="{:url('guestbook/add')}">
            {if !session('user'):}
            <div class="form-group">
                <label for="nickname" class="col-sm-1 control-label"><span class="text-danger">*</span> 昵称</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="nickname" id="nickname" placeholder="请输入昵称"/>
                </div>
            </div>
            <div class="form-group">
                <label for="qq" class="col-sm-1 control-label">QQ</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="qq" id="qq" placeholder="请输入QQ"/>
                </div>
            </div>
            {/if}
            <div class="form-group">
                <label for="title" class="col-sm-1 control-label"><span class="text-danger">*</span> 标题</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="title" id="title" value="" placeholder="请输入标题"/>
                </div>
            </div>
            <div class="form-group">
                <label for="msg" class="col-sm-1 control-label"><span class="text-danger">*</span> 留言</label>
                <div class="col-sm-11">
                    <textarea class="form-control" name="msg" id="msg" rows="3" placeholder="请输入内容"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="captcha" class="col-sm-1 control-label"><span class="text-danger">*</span> 验证</label>
                <div class="col-sm-5">
                    <input type="text" name="captcha" id="captcha" class="form-control" placeholder="请输入验证码"/>
                </div>
                <div class="col-sm-6" style="margin-top:3px;">
                    <img src="{:url('login/captcha')}" style="cursor:pointer;" onclick="this.src='{:url('login/captcha')}?'+Math.random();"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="submit" class="btn btn-primary">提交留言</button>
                </div>
            </div>
        </form>
    </div>

</div>

{include file='public/footer.html'}
<script src="__STATIC__/js/jquery.particleground.min.js"></script>
<script>
    (function() {
        $('.jumbotron').particleground({ dotColor: 'rgba(255,255,255,0.3)',lineColor: 'rgba(255,255,255,0.2)',density:20000 });
    })();
</script>
