{include 'public/header.html'}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar">
            {include 'public/sidebar.html'}
        </div>

        <div class="col-xs-12 col-sm-9">
            <div style="padding: 5px 0;">
                <button type="button" class="btn btn-xs btn-success pull-left visible-xs"  data-toggle="offcanvas"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
            </div>
            <h3 class="sub-header">添加用户 <small class="pull-right"><a href="{:url('index')}">返回列表</a></small></h3>

            <form class="form-horizontal submit-ajax" role="form" action="{:url('add')}" method="post">
                <div class="form-group">
                    <label class="col-sm-1 control-label">*用户</label>
                    <div class="col-sm-11">
                        <input type="text" name="username" class="form-control" style="width:auto;" placeholder="请输入用户名" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">*昵称</label>
                    <div class="col-sm-11">
                        <input type="text" name="nickname" class="form-control" style="width:auto;" placeholder="请输入昵称" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">简介</label>
                    <div class="col-sm-11">
                        <input type="text" name="about" class="form-control" style="width:auto;" placeholder="请输入简介" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">QQ</label>
                    <div class="col-sm-11">
                        <input type="text" name="qq" class="form-control" style="width:auto;" placeholder="请输入QQ" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">邮箱</label>
                    <div class="col-sm-11">
                        <input type="text" name="email" class="form-control" style="width:auto;" placeholder="请输入邮箱" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">手机</label>
                    <div class="col-sm-11">
                        <input type="text" name="mobile" class="form-control" style="width:auto;" placeholder="请输入手机号" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">*登录密码</label>
                    <div class="col-sm-11">
                        <input type="password" name="password" class="form-control" style="width:auto;" placeholder="请输入密码" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">*确认密码</label>
                    <div class="col-sm-11">
                        <input type="password" name="repass" class="form-control" style="width:auto;" placeholder="请确认密码" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">&nbsp;</label>
                    <div class="col-sm-11">
                        <input type="submit" value="添加" class="btn btn-primary" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{include 'public/footer.html'}
</body>
</html>